*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{

    min-height: 100vh;

    background-color: #f3e4a7;

    font-family: Arial, sans-serif;

}


main{

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}


.splash-content{

    text-align: center;

}


.splash-content h1{

    font-family: "Chicle", cursive;

    font-size: 100px;

    font-weight: 400;

    color: #3e4205;

}


.splash-content p{

    font-family: "DynaPuff", cursive;

    font-size: 20px;

    color: #3e4205;

    margin-top: 5px;

}


/* ==========================
   PHONE
   ========================== */

@media (max-width: 500px){

    .splash-content h1{

        font-size: 75px;

    }


    .splash-content p{

        font-size: 17px;

    }

}

#start-button{

    margin-top: 100px;

    opacity: 0;

    animation: fadeInButton 1.5s ease forwards;

    animation-delay: 2s;

    width: 220px;
    height: 55px;

    border: none;
    border-radius: 12px;

    background-color: #747635;
    color: white;

    font-size: 18px;
    font-family: Arial, sans-serif;

    cursor: pointer;

}


@keyframes fadeInButton{

    from{

        opacity: 0;

        transform: translateY(10px);

    }

    to{

        opacity: 1;

        transform: translateY(0);

    }

}